@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

body{
	font-family: 'Open Sans', sans-serif;
	color: #000;
	
}
header{
	background-color: #000;
}

#hero {
    background-image: url(../img/bg-sliders.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 195px 0;
    color: #fff;
}
#hero h2{
    font-size: 51px;
    font-weight: 600;
    text-align: justify;
}
#hero p{
    font-size: 16px;
}
.hero{
    display: flex;
    justify-content: center;
}
.hero-img{
    display: flex;
    justify-content: center;
}

#banners{
    padding: 50px 0;
}
.banners-img{
    display: flex;
    justify-content: center;
}

#product {
    padding: 100px 0;

}
#product p{
    text-align: justify;
}

.btn-products{
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 25px;
    color: #000;
    border: solid 2px #3ba13f;
    width: 155px;
    margin: auto;
}
.btn a{
    color: #3ba13f;
    text-decoration: none;
    font-weight: 400;
}
.product-img{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer{
    background-color: #323232;
    padding: 100px;
    color: #898989;
    text-align: center;
}
footer i{
    font-size: 36px;
    margin: 0 19px;
}
footer i:hover{
    color: #fff;
    cursor: pointer;
}